<div class="relative w-full max-w-7xl p-4 mb-4 bg-white rounded-sm">

    <div class="flex justify-between items-center mb-2">

        <div class="tabs tabs-border w-max flex flex-row gap-0">
            <input
                type="radio"
                name="my_tabs_2"
                class="tab font-medium text-base text-purple-600"
                aria-label="BANK BALANCES"
                checked="checked"/>
            <div class="tab-content overflow-auto"></div>

            <input
                type="radio"
                name="my_tabs_2"
                class="tab font-medium text-base text-purple-600"
                aria-label="COLLECTIONS"/>
            <div class="tab-content overflow-auto"></div>

            <input
                type="radio"
                name="my_tabs_2"
                class="tab font-medium text-base text-purple-600"
                aria-label="INVOICES"/>
            <div class="tab-content overflow-auto"></div>
        </div>
        <a href="#" class="text-sm text-purple-500">View all</a>
    </div>

    <!-- Left Arrow -->
    <button
        class="absolute -left-4 top-1/2 -translate-y-1/2 bg-transparent text-gray-500 w-12 h-12 rounded-full flex items-center justify-center z-10">
        <i data-lucide="chevron-left"></i>
    </button>

    <!-- Carousel -->
    <ul
        class="flex overflow-x-auto space-x-2 snap-x snap-mandatory scroll-smooth scrollbar-hide px-2">
        <!-- Card -->
        {% for i in "1234" %}
            <li
                class="flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-[24%] snap-start bg-white rounded-sm p-4 flex flex-col items-center border border-blue-200">
                <!-- Botón de opciones -->
                <img
                    src="https://purepng.com/public/uploads/large/purepng.com-bank-of-america-logologobrand-logoiconslogos-251519939688snesl.png"
                    class="h-10  bg-transparent mb-2"></img>
                <p class="text-xs text-gray-400">Current Account</p>
                <h3 class="text-lg font-semibold">$ 7564.00</h3>
                <div class="flex items-center justify-between w-full mt-2">
                    <p class="text-xs text-gray-400 mt-2">10/10/2018
                        <br/>
                        12:30 pm PST</p>
                    <i data-lucide="arrow-right" class="w-5 h-5"></i>
                </div>
            </li>
        {% endfor %}

    </ul>

    <!-- Right Arrow -->
    <button
        class="absolute -right-4 top-1/2 -translate-y-1/2 bg-transparent text-gray-500 w-12 h-12 rounded-full flex items-center justify-center z-10">
        <i data-lucide="chevron-right"></i>
    </button>
</div>