<div class="navbar w-full bg-base-100 shadow-sm px-4 md:px-6 lg:px-8">

    <div class="flex-none md:hidden">
        <button class="btn btn-square btn-ghost">
            <i data-lucide="menu" class="text-gray-500"></i>
        </button>
    </div>

    <div class="flex-1">
        <label
            for="searchbar"
            class="border-0 rounded-full pl-2 w-50 h-9 flex items-center bg-transparent focus-within:ring-2 focus-within:ring-purple-500/75">
            <i data-lucide="search" class="text-gray-500"></i>
            <input
                type="text"
                id="searchbar"
                name="search"
                placeholder="Search"
                class="border-0 rounded-full px-2 py-2 w-full focus:outline-none focus:ring-0 font-bold focus:font-medium text-gray-700"/>
        </label>
    </div>

    <div class="flex justify-items-center items-center gap-2">
        <button
            class="h-fit bg-purple-500 rounded-full py-1 px-3 md:px-9 text-white font-bold font-base hover:cursor-pointer hover:bg-purple-600 transition duration-200">Meeting</button>

        <!-- user account -->
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle ">
                <div class="flex items-center justify-center w-10 h-10 rounded-full">
                    <i
                        data-lucide="user"
                        class="text-gray-500 text-xl place-self-center place-items-center"></i>
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li>
                    <a>Settings</a>
                </li>
                <li>
                    <a>Logout</a>
                </li>
            </ul>
        </div>

        <!-- user settings -->
        <div class="dropdown dropdown-end border-l-2 border-gray-100 hidden md:flex">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle ">
                <div class="flex items-center justify-center w-10 h-10 rounded-full">
                    <i
                        data-lucide="settings"
                        class="text-gray-500 text-xl place-self-center place-items-center"></i>
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li>
                    <a>Settings</a>
                </li>
                <li>
                    <a>Logout</a>
                </li>
            </ul>
        </div>

    </div>
</div>