<div
    class="bg-transparent py-4 rounded-lg flex flex-col gap-4 overflow-visible">
    <div class="flex items-center overflow-visible">

        <div class="w-full flex gap-6 flex-row items-end">

            <div class="relative w-52 h-8 flex">
                <select
                    class="bg-white border-none text-gray-900
                    text-sm rounded-full focus:ring-blue-500
                    w-full focus:border-blue-500 block px-4 py-0
                    text-purple-500 hover:bg-purple-100
                    font-semibold appearance-none pr-10">
                    <option value="Brightfield Association">Brightfield Association</option>
                    <option value="Another">Another Association</option>
                </select>

                <!-- Custom arrow -->
                <div
                    class="pointer-events-none absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-500">
                    <i data-lucide="chevron-down" class="w-4 h-4"></i>
                </div>
            </div>

            <div class="tabs tabs-border w-max flex flex-row gap-0">
                <input
                    type="radio"
                    name="my_tabs_2"
                    class="tab text-white font-bold text-base"
                    aria-label="Home Owner"
                    checked="checked"/>
                <div class="tab-content overflow-auto"></div>

                <input
                    type="radio"
                    name="my_tabs_2"
                    class="tab text-white font-bold text-base"
                    aria-label="Board Member"/>
                <div class="tab-content overflow-auto"></div>

            </div>
        </div>
    </div>
</div>