{% extends 'base.html' %}

{% block content %}
<div class="p-6 lg:p-12 bg-white max-w-6xl mx-auto rounded-lg shadow-md">
    {% include 'dashboard/components/top-tabs.html' %}
    {% include 'dashboard/components/alerts-carousel.html' %}
    {% include 'dashboard/components/bank-balances.html' %}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
        <div class="md:col-span-2">
            {% include 'dashboard/components/conversations.html' %}
        </div>
        <div>
            {% include 'dashboard/components/todo-list.html' %}
        </div>
    </div>
</div>
{% endblock %}